*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid{
    background-color: #fff5e2;
    padding: 0; 
}

.container{
    width: 50%;
    margin: 0;
}

.bg-warning, 
.btn-warning{
    background-color: #fdbb40;
}

.bg-danger{
    background-color: #d33359;
}


.discount-section input#discount{
    width: 60%;
    background-color: #fff5e2;
    border: none;
    border-radius: 5px;  
}

footer{
    height: 60px;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 25px 0 25px;
    font-size: 25px;
}




