*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid{
    background-color: #fff5e2;
    padding: 0; 
    height: 100vh;
}

.container{
    width: 50%;
    min-width: 420px;
    margin: 0;
}

.bg-warning, 
.btn-warning{
    background-color: #fdbb40;
}

.bg-danger{
    background-color: #d33359;
}

.discount-section input#discount{
    width: 60%;
    background-color: #fff5e2;
    border: none;
    border-radius: 5px;  
    margin-left: 20px;
}

.header-section{
    height: 110px;
    padding-top: 50px;
}

.description{
    line-height: 60px;
    font-weight: 500;
    padding-left: 30px;
}

footer{
    height: 60px;
    line-height: 60px;
    display: flex;
    font-size: 25px;
}

.burger-name input{
    font-size: 30px;
    border: none;
    outline: none;
}


header img{
    width: 180px;
}

img {
 width: 60px;
}

@media (max-width: 768px){ //md
    .container-fluid{ 
        height: auto;
    }
}




